@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* header */
header {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 60px;
  transform: rotate(-10deg);
}
header h1 {
  margin: 0 0 0 0;
  font-size: 2em;
  padding-top: 25px;
  color: rgb(13, 36, 1);
  transform: rotate(2deg);
}

.task-list {
  max-width: 640px;
  margin: 20px auto;
}
.task {
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task h3,
.task .icons {
  display: inline-block;
}
.task .icons {
  text-align: right;
}
.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}
.btn {
  background-color: rgb(247, 210, 22);
  border-radius: 4px;
  color: rgb(13, 36, 1);
  margin: 1rem 1rem 1rem 0.5rem;
  padding: 10px 20px;
  font-size: 16px;
  border-color: transparent;
  cursor: pointer;
}

.btn-menu {
  display: flex;
  justify-content: center;
}
.task-form form {
  display: flex;
  justify-content: center;
}
.task-form form input {
  width: 38%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px 0 0 4px;
}
.btn-submit {
  padding: 10px;
  margin: 8px 0px;
  background-color: rgb(247, 210, 22);
  border-color: transparent;
  cursor: pointer;
}
